@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*,
::after,
::before {
  padding: 0;
  margin: 0;
}

body {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(110, 101, 101, 0.4)),
    to(rgba(10, 0, 9, 0.4))
  );
  background-image: -webkit-linear-gradient(
    top,
    rgba(110, 101, 101, 0.4),
    rgba(10, 0, 9, 0.4)
  );
  background-image: linear-gradient(
    to bottom,
    rgba(110, 101, 101, 0.4),
    rgba(10, 0, 9, 0.4)
  );
  background: url(https://static.tildacdn.com/tild6562-6564-4534-a661-343834313364/ezgifcom-gif-maker_3.gif);
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Ubuntu';
}
.hero {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

h2 {
  color: #f5b34f;
  font-size: 45px;

  margin-bottom: 20px;
}

h1 {
  color: #f5b34f;
  font-size: 64px;
  text-align: center;
}

.right p {
  color: #f5b34f;
  line-height: 1.55;
  font-size: 18px;
}

nav {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

nav a {
  color: #ff432e;
  font-size: 20px;
  font-family: 'TildaSans', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 900;
  border-width: 2px;
  border-radius: 12px;
  background-color: #ffffff;
  background-position: center center;
  border-color: #ff432e;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 130px;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 55px);
}

.footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  color: #ff432e;
}

.left {
  width: 40%;
  /* display: flex;
  justify-content: center; */
}

.left-wrapper{
 background:url( https://thumb.tildacdn.com/tild6636-3930-4566-b739-643935623562/-/cover/303x294/center/center/-/format/webp/shiba_inu.png);
 height: 450px;
 width: 100%;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}

.right {
  width: 60%;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .hero {
    padding: 0 20px;
  }
  .hero-wrapper {
    flex-direction: column;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
    margin-top: 100px;
  }

  nav {
    grid-template-columns: 1fr 1fr;
  }

  nav a {
    width: 100%;
    display: block;
  }

  h2,
  h1 {
    font-size: 45px;
  }

  .left-wrapper{
   width: 100%;
   background-size: contain;
  }

  .left img{
   
  }
}

.rotate-img {
  animation: rotate;
  animation-duration: 2s;
}

@keyframes rotate {
  100% {
    transform: rotateX(360deg);
  }
}
